/*GENERAL*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
}
.grid-container-publicaciones > *{
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
  border-radius: 4px;
  padding: 10x;
  text-align: center;
}
.grid-container > *{
  box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
  border-radius: 4px;
  padding: 10x;
  text-align: center;
}
.header{
  grid-area: header;
}
.sidebar{
  grid-area: sidebar;
  background-color: #ffffff;
}
.main{
  grid-area: main;
  background-color: #f5f5f5;
}

.footer{
  grid-area: footer;
}

/* --------------------------------------------------------------*/
/*MENU*/

header{
  background-color:#ffff ;
  height: 85px;
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
}
.nav{
  display: flex;
  justify-content: space-between;
}
.nav-link{
  color: black;
  text-decoration: none;
}
.logo {
  padding: 0;
  line-height: 80px;
}
.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.nav-menu-item{
  font-size: 16px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}
.nav-menu-link{
  padding: 2px 10px;
  border-radius: 35px 8px;

}
.nav-menu-link:hover,
.nav-menu-link_active{
  background-color:#085c7c;
  color: white;
  text-decoration: none;
  transition: 0.7s;
}
.dropdown-menu{
  background-color: #085c7c;

}
li a.dropdown-item{
  text-decoration: none;
  color: white;
  font-size: 16px;
}
/*toggle*/
.nav-toggle {
  color: #085c7c;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}
@media (max-width: 1000px ){
  header{
    height: 85px;
  }
  .logo {
    padding: 0;
    line-height: 60px;
  }
  .nav-menu{
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #085c7c;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - auto);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }
  .nav-menu-item{
    line-height: 70px;
  }
  .nav-menu-link{
    color: white;
  }
  .nav-menu-link:hover {
    background:none;
    color: #e7810d;
  }
  .nav-toggle{
    display: block ;
  }
  .nav-menu_visible{
    left: 0;
  }
  .nav-toggle:focus:not(:focus-visible){
    outline: none;
  }
}

/* --------------------------------------------------------------*/
/*FOOTER*/
.site-footer{
  background-color:#085c7c;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:rgb(255, 255, 255);
}
.site-footer hr{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small{
  margin:20px 0
}
.site-footer h6{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a{
  color:white;
  text-transform: uppercase;
}
.site-footer a:hover{
  color:whitesmoke;
  text-decoration:none;
}
.footer-links{
  padding-left:0;
  list-style:none;

}
.footer-links li a:hover{
  color: grey;
}
.footer-links li{
  display:block

}
.footer-links a{
  color:white;
  text-decoration: none;
}
.footer-links.inline li{
  display:inline-block
}
.site-footer .social-icons{
  text-align:right
}
.site-footer .social-icons a{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#fff
}
.copyright-text{
  margin:0
}
@media (max-width:991px){
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px){
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover{
  background-color:#3b5998
}
.social-icons a.twitter:hover{
  background-color:#00aced
}
.social-icons a.linkedin:hover{
  background-color:#007bb6
}
.social-icons a.dribbble:hover{
  background-color:#ea4c89
}
@media (max-width:767px){
  .social-icons li.title{
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.site-footer p{
  color: white;
}
a{
  color: white;
}  

/* --------------------------------------------------------------*/
/*PUBLICACIONES*/

/*pagina*/                
.grid-container-publicaciones{
  display: grid;
  gap: 10px;
  grid-template: 
    "header" 10%
    "sidebar" auto
    "main" 100%
    "footer" auto;
}

@media (min-width:1281px){
  .grid-container-publicaciones{
    grid-template-columns: 75% auto ;
    grid-template-rows: 10% 75% auto 100%;
    grid-template-areas: 
      "header header"
      "main sidebar"
      "footer footer"
      ;
  }
}

@media (min-width:1025px) and (max-width:1280px){
  .grid-container-publicaciones{
    grid-template-columns: 75% auto ;
    grid-template-rows: 10% 75% auto 100%;
    grid-template-areas: 
      "header header"
      "main sidebar"
      "footer footer"
      ;
  }
}

@media (min-width:768px) and (max-width:1024px){
  .grid-container-publicaciones{
    grid-template-columns: 75% auto ;
    grid-template-rows: 10% 75% auto 100%;
    grid-template-areas: 
      "header header"
      "main sidebar"
      "footer footer"
      ;
  }
}

@media (min-width:768px) and (max-width:1024px) and (orientation: horizontal){
  .grid-container-publicaciones{
    grid-template-columns: 75% auto ;
    grid-template-rows: 10% 75% auto 100%;
    grid-template-areas: 
      "header header"
      "main sidebar"
      "footer footer"
      ;
  }
}

/*interno*/
/*SECCION DERECHA*/

/*Boton de publicacion*/

.btn_nueva_publicacion{
  line-height: 100px;
  text-decoration:none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #085c7c;
  border-radius: 18px;
  border: 3px solid black;
}
.btn_nueva_publicacion:hover{
  color: #085c7c;
  background-color: #ffffff;
  text-decoration: none;
}

/*FILTRO BUSQUEDA*/

#buscar{
  align-items: center;
  border-radius: 10px;
  border: 2px solid #085c7c;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 20px;
}

a.btn_busqueda{
  
  text-decoration: none;
  font-size: 20px;
  color: black;
}
a.btn_busqueda:hover{
  text-decoration: none;
  background-color: #085c7c;
  color: #ffffff;
  border-radius: 5px;
  border: 2px solid black;
}
#buscar hr{
  background-color: black;
  height: 2px;
  margin-left: 25%;
  margin-right: 25%;

}

/*SECCION IZQUIERDA*/



/* --------------------------------------------------------------*/
/*ADMIN_CUENTA*/

/*pagina*/

.grid-container{
  display: grid;
  gap: 10px;
  grid-template: 
    "header" 5%
    "main" auto
    "sidebar" auto
    "footer" auto;
}

@media (min-width:1281px){
  .grid-container{
    grid-template-columns: auto 70% ;
    grid-template-rows: 10% auto auto 100%;
    grid-template-areas: 
      "header header"
      "main sidebar"
      "footer footer"
      ;
  }
}

@media (min-width:1025px) and (max-width:1280px){
  .grid-container{
    grid-template-columns: auto 75%;
    grid-template-rows: 10% auto auto 100%;
    grid-template-areas: 
      "header header"
      "main sidebar"
      "footer footer"
      ;
  }
}

@media (min-width:768px) and (max-width:1024px){
  .grid-container{
    grid-template-columns: auto 75%;
    grid-template-rows: 10% auto auto 100%;
    grid-template-areas: 
      "header header"
      "main sidebar"
      "footer footer"
      ;
  }
}

@media (min-width:768px) and (max-width:1024px) and (orientation: horizontal){
  .grid-container{
    grid-template-columns: auto 75% ;
    grid-template-rows: 10% auto auto 100%;
    grid-template-areas: 
      "header header"
      "main sidebar"
      "footer footer"
      ;
  }
}

/*interno*/

/*SECCION DERECHA*/

/*Informacion General*/

#informacion{
  border-radius: 10px;
  border: 2px solid #085c7c;
  margin: 80px;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 50px;

}

.info-gen{

  text-align: left;
  margin-left: 9%;
  margin-right: 5%;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 20px;

}

.a-1{
  margin-left: 5%;
  margin-right: 20%;
}

input.b-1{
  width: 210px;
}

.boton{
  background-color: #085c7c;
  font-size: 20px;
}



/*SECCION IZQUIERDA*/


#user{
  margin-top: 19px;
}

div.logo{
  border-radius: 10px;
  border: 2px solid #085c7c;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 8%;
  margin-bottom: 10%;
}

#opciones{
  border-radius: 5px;
  border: 2px solid #085c7c;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 20px;
  margin-bottom: 15%;
}
a.btn_opcion{
  text-decoration: none;
  font-size: 20px;
  color: black;
}
a.btn_opcion:hover{
  text-decoration: none;
  background-color: #085c7c;
  color: #ffffff;
  border-radius: 5px;
  border: 2px solid black;
}
#opciones hr{
  background-color: black;
  height: 2px;
  margin-left: 25%;
  margin-right: 25%;
}

/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/*NUEVA PUBLICACIONES*/

/*pagina*/                
.grid-container-n_p{
  display: grid;
  gap: 10px;
  grid-template: 
    "header" 10%
    "main" 100%
    "footer" auto;
}

@media (min-width:1281px){
  .grid-container-n_p{
    grid-template-columns: 100% auto ;
    grid-template-rows: 10% 100% auto;
    grid-template-areas: 
      "header header"
      "main main"
      "footer footer"
      ;
  }
}

@media (min-width:1025px) and (max-width:1280px){
  .grid-container-n_p{
    grid-template-columns: 100% auto ;
    grid-template-rows: 10% 100% auto;
    grid-template-areas: 
      "header header"
      "main main"
      "footer footer"
      ;
  }
}

@media (min-width:768px) and (max-width:1024px){
  .grid-container-n_p{
    grid-template-columns: 100% auto ;
    grid-template-rows: 10% 100% auto;
    grid-template-areas: 
      "header header"
      "main main"
      "footer footer"
      ;
  }
}

@media (min-width:768px) and (max-width:1024px) and (orientation: horizontal){
  .grid-container-n_p{
    grid-template-columns: 100% auto ;
    grid-template-rows: 10% 100% auto;
    grid-template-areas: 
      "header header"
      "main main"
      "footer footer"
      ;
  }
}

/*interno*/
/*CONTENIDO*/

.publicacion_nueva{
  padding-top:4%;
}

#f-n-p {   
  border-radius: 5px;
  border: 2px solid #085c7c;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: auto;
}


div h1.n{
  text-align: center;
  font-size: 30px;
}
div .a{
  margin-top: 5px;
}

#fecha{
  color: black;
  width: 300px;
  margin-left:20%;
  font-size: 15px;
  text-align: center;
}

#l-fecha{
  margin-left: 20%;
  font-size: 20px;
}

#titulo{
  width: 400px;
  color: black;
  font-size: 15px;
  text-align: center;
  margin-left: 18%;
}

#l-titulo{
  margin-left: 18%;
  font-size: 20px;
}

#descripcion{
  margin-top: 0.5%;
  margin-left: 9%;
  margin-right: 5%;
  margin-bottom: 3%;
  font-size: 20px;
}

#l-descripcion{
  margin-top: 30px;
  margin-left: 9%;
  font-size: 20px;

}


.btn-publicar{
  border-style: none;
  border-radius: 10px;
  background-color: #085c7c;
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: 20px;
  margin-left: 45%;
  cursor: pointer;
}

.btn-publicar:hover{
  border-style: none;
  color: black;
  background-color: chartreuse;
}

/*View TCU*/
