/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 mar. 2021, 21:10:36
    Author     : Samuel O
*/

body{
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
}

/*Header*/
header{
  height: 12%;
}
header nav{
  height: 75px;
}
header nav a:hover{                
  cursor: pointer;
  color: blue;                
}

header nav a{
  color: #000000;
}
#header.ul {
  float: right;
}
/*Content margen of header*/
#partBody{
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0px 0px;
}

/*Footer always down*/
main{
  min-height: calc(100vh - 70px - 40px);
}

/*View_Home*/

.centrado{
  position: absolute;
  top: 41%;
  left: 20%;
  transform: translate(-39%, -50%);
  color: #ffffff;
  padding: 0px 18px 0px 18px;
  border-radius: 15px;
  background: #085c7c;
  border-style: solid;
  border-color: #cccccc;
}
.padre {
  width: 450px;
  height: 80px;
  
  position: absolute;
  top: 59%;
  left: 13%;
  transform: translate(-21%, -50%);
  /* IMPORTANTE */
  display: flex;
  justify-content: center;
}

.hijo {
  
  color: #ffffff;
  display:table-cell;
  vertical-align: middle;
  /* IMPORTANTE */
  text-align: center;
}

#contacts{
  margin-bottom: 24px;
}

/*Footer*/
footer{
  background-color: #085c7c;
  bottom: 0;
  height: 35px;
  color: white;
  padding: 70px;
}