/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 mar. 2021, 21:40:43
    Author     : Samuel O
*/

body{
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
}

/*Header*/
header{
  background-color: red;
  height: 12%;
}
header nav{
  height: 75px;
}
header nav a:hover{                
  cursor: pointer;
  color: #ffffff;                
}

header nav a{
  color: white;
}
#header.ul {
  float: right;
}
/*Content margen of header*/
#partBody{
  margin-top: 24px;
  margin-bottom: 24px;
}

/*Footer always down*/
main{
  min-height: calc(100vh - 70px - 40px);
}

/*Footer*/
footer{
  background-color: #085c7c;
  bottom: 0;
  height: 35px;
  color: white;
  padding: 70px;
}